html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  font-size: 1.125rem;
  background-color: #333;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
  padding: .4em .75em .3em;
  color: #fff;
  text-decoration: none;
}

.btn-subtle {
  background-color: #ccc;
  border-width: 3px;
  color: #fff;
}

.btn-ghost {
  background-color: #fff;
  border-width: 3px;
  border-color: #333;
  color: #333;
}
